.electronics-container {
    padding: 20px;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensure cards take up equal height */
  }
  
  .card img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Limit the max height of the image */
    object-fit: contain; /* Ensures images maintain aspect ratio and fit inside */
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .card p {
    margin: 5px 0;
  }
  
  h1 {
    text-align: center;
  }
  
  .card p.price {
    font-size: 18px; /* Adjust the font size for price */
    font-weight: bold;
  }
  